# Lambda calculus

The most obvious place where we encounter lambda expressions in Python is with their 'anonymous functions', so called because you do not have to name these functions. For example, the following is an anonymous function that doubles its input:

In [1]:
lambda x: x*2

The defining of the above function corresponds with the 'lambda abstraction rule' of lambda calculus. We have given this function no input, so we get no output either. Furthermore, since the function is anonymous, we cannot reference its name and invoke it later. Instead, we should immediately supply the lambda expression with some input:

In [2]:
(lambda x: x*2)(6)

12

Python will then produce the output of this function applied to the input (corresponding to the 'application rule'). We do not need to limit ourselves to one parameter either, as this exponential growth formula shows:

In [3]:
(lambda x, g, t: x*g**t)(2,3,3)

54

we actually *can* assign a variable name to a lambda expression if we want, in which case it is just an alternative syntax for defining a function. The following two are identical functions:

In [4]:
def double_a(x):
    return x*2

double_b = lambda x: x*2

double_b(4)

8

In general, the 'normal' way is preferred. A great way to use lambda expressions is to have a regular function (that wants some argument *n*) **return** a lambda expression that involves *n*. Think of the regular function as a template for producing a family of lambda expressions depending on *n*

### Exercise 1
Define a function with at least 1 parameter that returns a lambda expression with also at least 1 parameter and uses the argument of the function. Show, with a few examples, what the function does for different inputs for the function (and the lambda expression).

In [7]:
#
def create_lambda_function(a):
    return lambda b: a + b

# Examples
lambda_function_1 = create_lambda_function(5)#Maybe here we created a one-parameter expression？
result_1 = lambda_function_1(3)  # 5 + 3 = 8

lambda_function_2 = create_lambda_function(10)
result_2 = lambda_function_2(7)  # 10 + 7 = 17

lambda_function_3 = create_lambda_function(-3)
result_3 = lambda_function_3(2)  # -3 + 2 = -1

print(result_1, result_2, result_3)

7 9 11

Another frequent use is for manipulating iterable data objects (like lists, dataframes, dictionaries, etc), such as with the .sort() method, or the map() and filter() functions. The map function applies an operation to every element of the data  object. For both map() and filter(), you need to wrap them with list() to actually return the mapped or filtered list; so it takes the form of *list(filter(lambda x: ..., list1))*.

### Exercise 2
Use lambda expressions and the above-mentioned functions to manipulate the data (a list of dictionaries) below as follows:
* sort the data by country
* return a filtered list that has only those entries whose 'name' starts with an A or a B
* return a filtered list that has only those entries whose 'number' is not divisible by 2 or 3
* return a list with the same values as the original, except that each 'number' entry has been doubled

In [ ]:
data = [{'country': "Ukraine",'number': "3",'name': "Derek Bolton"},{'country': "United States",'number': "3",'name': "Britanney Durham"},{'country': "China",'number': "7",'name': "Rachel Dickson"},{'country': "India",'number': "4",'name': "Oren Dominguez"},{'country': "Norway",'number': "5",'name': "Keane Dean"},{'country': "New Zealand",'number': "8",'name': "Tarik Coleman"},{'country': "South Africa",'number': "3",'name': "Uriel Greene"},{'country': "China",'number': "6",'name': "Minerva Shields"},{'country': "Norway",'number': "7",'name': "Robin Butler"},{'country': "Germany",'number': "7",'name': "Stacey Nixon"},{'country': "South Africa",'number': "4",'name': "Glenna Clark"},{'country': "Australia",'number': "7",'name': "Adena Smith"},{'country': "Italy",'number': "2",'name': "Ronan Ellis"},{'country': "Chile",'number': "1",'name': "Ignatius Guy"},{'country': "Belgium",'number': "8",'name': "Barclay Lindsey"},{'country': "Peru",'number': "2",'name': "Fuller Burris"},{'country': "Ukraine",'number': "2",'name': "Kylan Witt"},{'country': "United States",'number': "1",'name': "Kitra Willis"},{'country': "Austria",'number': "6",'name': "Indigo Dillard"},{'country': "Chile",'number': "3",'name': "Benedict Powell"},{'country': "Russian Federation",'number': "9",'name': "Duncan Ware"},{'country': "Peru",'number': "7",'name': "Abra Lewis"},{'country': "China",'number': "5",'name': "Callie Cole"},{'country': "United States",'number': "0",'name': "Cedric Gates"},{'country': "Ukraine",'number': "7",'name': "Malcolm Cox"},{'country': "Brazil",'number': "6",'name': "Connor Potts"},{'country': "Sweden",'number': "7",'name': "Lyle Nguyen"},{'country': "United States",'number': "3",'name': "Rudyard Barrett"},{'country': "Costa Rica",'number': "2",'name': "Judah Brock"},{'country': "South Korea",'number': "2",'name': "Lucius Snider"},{'country': "China",'number': "1",'name': "Cassady Mcdaniel"},{'country': "Singapore",'number': "2",'name': "Allegra Baird"},{'country': "Philippines",'number': "4",'name': "Omar Burgess"},{'country': "Turkey",'number': "7",'name': "Kenyon Rosa"},{'country': "Poland",'number': "6",'name': "Yen Sargent"},{'country': "China",'number': "3",'name': "Rashad Grimes"},{'country': "Spain",'number': "7",'name': "Tamekah Gutierrez"},{'country': "Ukraine",'number': "3",'name': "Liberty Mathis"},{'country': "Mexico",'number': "3",'name': "Rylee Sharpe"},{'country': "Mexico",'number': "3",'name': "Brynn Hinton"},{'country': "Sweden",'number': "2",'name': "Quinn Berg"},{'country': "Philippines",'number': "9",'name': "Simone Tanner"},{'country': "Ireland",'number': "2",'name': "Simon Giles"},{'country': "United Kingdom",'number': "10",'name': "Zenia Coffey"},{'country': "Mexico",'number': "2",'name': "Yael Glass"},{'country': "Colombia",'number': "5",'name': "Inga Russell"},{'country': "United Kingdom",'number': "1",'name': "Brendan Pearson"},{'country': "Austria",'number': "3",'name': "Shafira Parks"},{'country': "India",'number': "9",'name': "Dante Charles"},{'country': "Sweden",'number': "8",'name': "Kylee Good"},{'country': "Canada",'number': "1",'name': "September Bryan"},{'country': "Costa Rica",'number': "5",'name': "Hakeem Flowers"},{'country': "Peru",'number': "0",'name': "Ross Moss"},{'country': "Spain",'number': "8",'name': "Bo Hardy"},{'country': "Austria",'number': "2",'name': "Davis Cardenas"},{'country': "Ireland",'number': "2",'name': "Lane Chandler"},{'country': "Ukraine",'number': "3",'name': "Mohammad Holder"},{'country': "Vietnam",'number': "8",'name': "Jonas Bryan"},{'country': "Costa Rica",'number': "0",'name': "Eve Rivas"},{'country': "Australia",'number': "4",'name': "Elton Collins"},{'country': "Norway",'number': "8",'name': "Cain Fields"},{'country': "Vietnam",'number': "0",'name': "Iliana Daniels"},{'country': "Mexico",'number': "7",'name': "Rajah Robles"},{'country': "Australia",'number': "3",'name': "Charity Conner"},{'country': "Chile",'number': "5",'name': "Kay Parsons"},{'country': "Ireland",'number': "4",'name': "Rachel Howell"},{'country': "Singapore",'number': "3",'name': "Walter Forbes"},{'country': "Colombia",'number': "1",'name': "Gray Hayden"},{'country': "Netherlands",'number': "9",'name': "Ivana Compton"},{'country': "South Korea",'number': "8",'name': "Jamal Kelly"},{'country': "Pakistan",'number': "0",'name': "Robert Cunningham"},{'country': "Spain",'number': "4",'name': "Ignatius Newman"},{'country': "Canada",'number': "8",'name': "Gisela Glenn"},{'country': "Vietnam",'number': "1",'name': "Eliana Nicholson"},{'country': "Ukraine",'number': "4",'name': "Christen James"},{'country': "France",'number': "4",'name': "Devin Spears"},{'country': "Costa Rica",'number': "3",'name': "Phelan Hodges"},{'country': "Chile",'number': "4",'name': "Stewart Coffey"},{'country': "Singapore",'number': "6",'name': "Kasper Justice"},{'country': "Italy",'number': "7",'name': "Xanthus Wilkerson"},{'country': "Italy",'number': "6",'name': "Debra Melendez"},{'country': "Germany",'number': "6",'name': "Galvin Morrison"},{'country': "Norway",'number': "10",'name': "Britanney Daniels"},{'country': "Italy",'number': "8",'name': "Steel Cantu"},{'country': "Mexico",'number': "7",'name': "Graham Ewing"},{'country': "China",'number': "3",'name': "Maia Dunn"},{'country': "Australia",'number': "3",'name': "Violet Thornton"},{'country': "Canada",'number': "5",'name': "Cleo Cardenas"},{'country': "United States",'number': "8",'name': "Castor Bowen"},{'country': "Australia",'number': "8",'name': "Wyatt Carey"},{'country': "Philippines",'number': "5",'name': "Paul Padilla"},{'country': "Costa Rica",'number': "8",'name': "Germane Welch"},{'country': "South Korea",'number': "4",'name': "Zephr Deleon"},{'country': "Russian Federation",'number': "9",'name': "Lionel Armstrong"},{'country': "Brazil",'number': "6",'name': "Eleanor Solomon"},{'country': "Nigeria",'number': "7",'name': "Rachel Woods"},{'country': "Indonesia",'number': "9",'name': "Philip Taylor"},{'country': "Brazil",'number': "7",'name': "Lilah Shelton"},{'country': "United Kingdom",'number': "3",'name': "Gillian Harrington"},{'country': "Mexico",'number': "3",'name': "Odessa Sutton"}]

In [8]:
data = [{'country': "Ukraine",'number': "3",'name': "Derek Bolton"},{'country': "United States",'number': "3",'name': "Britanney Durham"},{'country': "China",'number': "7",'name': "Rachel Dickson"},{'country': "India",'number': "4",'name': "Oren Dominguez"},{'country': "Norway",'number': "5",'name': "Keane Dean"},{'country': "New Zealand",'number': "8",'name': "Tarik Coleman"},{'country': "South Africa",'number': "3",'name': "Uriel Greene"},{'country': "China",'number': "6",'name': "Minerva Shields"},{'country': "Norway",'number': "7",'name': "Robin Butler"},{'country': "Germany",'number': "7",'name': "Stacey Nixon"},{'country': "South Africa",'number': "4",'name': "Glenna Clark"},{'country': "Australia",'number': "7",'name': "Adena Smith"},{'country': "Italy",'number': "2",'name': "Ronan Ellis"},{'country': "Chile",'number': "1",'name': "Ignatius Guy"},{'country': "Belgium",'number': "8",'name': "Barclay Lindsey"},{'country': "Peru",'number': "2",'name': "Fuller Burris"},{'country': "Ukraine",'number': "2",'name': "Kylan Witt"},{'country': "United States",'number': "1",'name': "Kitra Willis"},{'country': "Austria",'number': "6",'name': "Indigo Dillard"},{'country': "Chile",'number': "3",'name': "Benedict Powell"},{'country': "Russian Federation",'number': "9",'name': "Duncan Ware"},{'country': "Peru",'number': "7",'name': "Abra Lewis"},{'country': "China",'number': "5",'name': "Callie Cole"},{'country': "United States",'number': "0",'name': "Cedric Gates"},{'country': "Ukraine",'number': "7",'name': "Malcolm Cox"},{'country': "Brazil",'number': "6",'name': "Connor Potts"},{'country': "Sweden",'number': "7",'name': "Lyle Nguyen"},{'country': "United States",'number': "3",'name': "Rudyard Barrett"},{'country': "Costa Rica",'number': "2",'name': "Judah Brock"},{'country': "South Korea",'number': "2",'name': "Lucius Snider"},{'country': "China",'number': "1",'name': "Cassady Mcdaniel"},{'country': "Singapore",'number': "2",'name': "Allegra Baird"},{'country': "Philippines",'number': "4",'name': "Omar Burgess"},{'country': "Turkey",'number': "7",'name': "Kenyon Rosa"},{'country': "Poland",'number': "6",'name': "Yen Sargent"},{'country': "China",'number': "3",'name': "Rashad Grimes"},{'country': "Spain",'number': "7",'name': "Tamekah Gutierrez"},{'country': "Ukraine",'number': "3",'name': "Liberty Mathis"},{'country': "Mexico",'number': "3",'name': "Rylee Sharpe"},{'country': "Mexico",'number': "3",'name': "Brynn Hinton"},{'country': "Sweden",'number': "2",'name': "Quinn Berg"},{'country': "Philippines",'number': "9",'name': "Simone Tanner"},{'country': "Ireland",'number': "2",'name': "Simon Giles"},{'country': "United Kingdom",'number': "10",'name': "Zenia Coffey"},{'country': "Mexico",'number': "2",'name': "Yael Glass"},{'country': "Colombia",'number': "5",'name': "Inga Russell"},{'country': "United Kingdom",'number': "1",'name': "Brendan Pearson"},{'country': "Austria",'number': "3",'name': "Shafira Parks"},{'country': "India",'number': "9",'name': "Dante Charles"},{'country': "Sweden",'number': "8",'name': "Kylee Good"},{'country': "Canada",'number': "1",'name': "September Bryan"},{'country': "Costa Rica",'number': "5",'name': "Hakeem Flowers"},{'country': "Peru",'number': "0",'name': "Ross Moss"},{'country': "Spain",'number': "8",'name': "Bo Hardy"},{'country': "Austria",'number': "2",'name': "Davis Cardenas"},{'country': "Ireland",'number': "2",'name': "Lane Chandler"},{'country': "Ukraine",'number': "3",'name': "Mohammad Holder"},{'country': "Vietnam",'number': "8",'name': "Jonas Bryan"},{'country': "Costa Rica",'number': "0",'name': "Eve Rivas"},{'country': "Australia",'number': "4",'name': "Elton Collins"},{'country': "Norway",'number': "8",'name': "Cain Fields"},{'country': "Vietnam",'number': "0",'name': "Iliana Daniels"},{'country': "Mexico",'number': "7",'name': "Rajah Robles"},{'country': "Australia",'number': "3",'name': "Charity Conner"},{'country': "Chile",'number': "5",'name': "Kay Parsons"},{'country': "Ireland",'number': "4",'name': "Rachel Howell"},{'country': "Singapore",'number': "3",'name': "Walter Forbes"},{'country': "Colombia",'number': "1",'name': "Gray Hayden"},{'country': "Netherlands",'number': "9",'name': "Ivana Compton"},{'country': "South Korea",'number': "8",'name': "Jamal Kelly"},{'country': "Pakistan",'number': "0",'name': "Robert Cunningham"},{'country': "Spain",'number': "4",'name': "Ignatius Newman"},{'country': "Canada",'number': "8",'name': "Gisela Glenn"},{'country': "Vietnam",'number': "1",'name': "Eliana Nicholson"},{'country': "Ukraine",'number': "4",'name': "Christen James"},{'country': "France",'number': "4",'name': "Devin Spears"},{'country': "Costa Rica",'number': "3",'name': "Phelan Hodges"},{'country': "Chile",'number': "4",'name': "Stewart Coffey"},{'country': "Singapore",'number': "6",'name': "Kasper Justice"},{'country': "Italy",'number': "7",'name': "Xanthus Wilkerson"},{'country': "Italy",'number': "6",'name': "Debra Melendez"},{'country': "Germany",'number': "6",'name': "Galvin Morrison"},{'country': "Norway",'number': "10",'name': "Britanney Daniels"},{'country': "Italy",'number': "8",'name': "Steel Cantu"},{'country': "Mexico",'number': "7",'name': "Graham Ewing"},{'country': "China",'number': "3",'name': "Maia Dunn"},{'country': "Australia",'number': "3",'name': "Violet Thornton"},{'country': "Canada",'number': "5",'name': "Cleo Cardenas"},{'country': "United States",'number': "8",'name': "Castor Bowen"},{'country': "Australia",'number': "8",'name': "Wyatt Carey"},{'country': "Philippines",'number': "5",'name': "Paul Padilla"},{'country': "Costa Rica",'number': "8",'name': "Germane Welch"},{'country': "South Korea",'number': "4",'name': "Zephr Deleon"},{'country': "Russian Federation",'number': "9",'name': "Lionel Armstrong"},{'country': "Brazil",'number': "6",'name': "Eleanor Solomon"},{'country': "Nigeria",'number': "7",'name': "Rachel Woods"},{'country': "Indonesia",'number': "9",'name': "Philip Taylor"},{'country': "Brazil",'number': "7",'name': "Lilah Shelton"},{'country': "United Kingdom",'number': "3",'name': "Gillian Harrington"},{'country': "Mexico",'number': "3",'name': "Odessa Sutton"}]

# Sort the data by country
sorted_data = sorted(data, key=lambda x: x['country'])

# Filter entries whose 'name' starts with an A or a B
filtered_name_starting_with_ab = list(filter(lambda x: x['name'][0].lower() in ['a', 'b'], data))

# Filter entries whose 'number' is not divisible by 2 or 3
filtered_number_not_divisible_by_2_or_3 = list(filter(lambda x: int(x['number']) % 2 != 0 and int(x['number']) % 3 != 0, data))

# Double the 'number' entry for each dictionary
doubled_numbers = list(map(lambda x: {**x, 'number': str(2 * int(x['number']))}, data))

# Print the results
print("Sorted Data:")
print(sorted_data)

print("\nEntries whose 'name' starts with an A or a B:")
print(filtered_name_starting_with_ab)

print("\nEntries whose 'number' is not divisible by 2 or 3:")
print(filtered_number_not_divisible_by_2_or_3)

print("\nDoubled 'number' entries:")
print(doubled_numbers)

Sorted Data:
[{'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}, {'country': 'Australia', 'number': '4', 'name': 'Elton Collins'}, {'country': 'Australia', 'number': '3', 'name': 'Charity Conner'}, {'country': 'Australia', 'number': '3', 'name': 'Violet Thornton'}, {'country': 'Australia', 'number': '8', 'name': 'Wyatt Carey'}, {'country': 'Austria', 'number': '6', 'name': 'Indigo Dillard'}, {'country': 'Austria', 'number': '3', 'name': 'Shafira Parks'}, {'country': 'Austria', 'number': '2', 'name': 'Davis Cardenas'}, {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'}, {'country': 'Brazil', 'number': '6', 'name': 'Connor Potts'}, {'country': 'Brazil', 'number': '6', 'name': 'Eleanor Solomon'}, {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'}, {'country': 'Canada', 'number': '1', 'name': 'September Bryan'}, {'country': 'Canada', 'number': '8', 'name': 'Gisela Glenn'}, {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'}, {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'}, {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'}, {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'}, {'country': 'Chile', 'number': '4', 'name': 'Stewart Coffey'}, {'country': 'China', 'number': '7', 'name': 'Rachel Dickson'}, {'country': 'China', 'number': '6', 'name': 'Minerva Shields'}, {'country': 'China', 'number': '5', 'name': 'Callie Cole'}, {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'}, {'country': 'China', 'number': '3', 'name': 'Rashad Grimes'}, {'country': 'China', 'number': '3', 'name': 'Maia Dunn'}, {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'}, {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'}, {'country': 'Costa Rica', 'number': '2', 'name': 'Judah Brock'}, {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'}, {'country': 'Costa Rica', 'number': '0', 'name': 'Eve Rivas'}, {'country': 'Costa Rica', 'number': '3', 'name': 'Phelan Hodges'}, {'country': 'Costa Rica', 'number': '8', 'name': 'Germane Welch'}, {'country': 'France', 'number': '4', 'name': 'Devin Spears'}, {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'}, {'country': 'Germany', 'number': '6', 'name': 'Galvin Morrison'}, {'country': 'India', 'number': '4', 'name': 'Oren Dominguez'}, {'country': 'India', 'number': '9', 'name': 'Dante Charles'}, {'country': 'Indonesia', 'number': '9', 'name': 'Philip Taylor'}, {'country': 'Ireland', 'number': '2', 'name': 'Simon Giles'}, {'country': 'Ireland', 'number': '2', 'name': 'Lane Chandler'}, {'country': 'Ireland', 'number': '4', 'name': 'Rachel Howell'}, {'country': 'Italy', 'number': '2', 'name': 'Ronan Ellis'}, {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'}, {'country': 'Italy', 'number': '6', 'name': 'Debra Melendez'}, {'country': 'Italy', 'number': '8', 'name': 'Steel Cantu'}, {'country': 'Mexico', 'number': '3', 'name': 'Rylee Sharpe'}, {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'}, {'country': 'Mexico', 'number': '2', 'name': 'Yael Glass'}, {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'}, {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'}, {'country': 'Mexico', 'number': '3', 'name': 'Odessa Sutton'}, {'country': 'Netherlands', 'number': '9', 'name': 'Ivana Compton'}, {'country': 'New Zealand', 'number': '8', 'name': 'Tarik Coleman'}, {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'}, {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'}, {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'}, {'country': 'Norway', 'number': '8', 'name': 'Cain Fields'}, {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}, {'country': 'Pakistan', 'number': '0', 'name': 'Robert Cunningham'}, {'country': 'Peru', 'number': '2', 'name': 'Fuller Burris'}, {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}, {'country': 'Peru', 'number': '0', 'name': 'Ross Moss'}, {'country': 'Philippines', 'number': '4', 'name': 'Omar Burgess'}, {'country': 'Philippines', 'number': '9', 'name': 'Simone Tanner'}, {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'}, {'country': 'Poland', 'number': '6', 'name': 'Yen Sargent'}, {'country': 'Russian Federation', 'number': '9', 'name': 'Duncan Ware'}, {'country': 'Russian Federation', 'number': '9', 'name': 'Lionel Armstrong'}, {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'}, {'country': 'Singapore', 'number': '3', 'name': 'Walter Forbes'}, {'country': 'Singapore', 'number': '6', 'name': 'Kasper Justice'}, {'country': 'South Africa', 'number': '3', 'name': 'Uriel Greene'}, {'country': 'South Africa', 'number': '4', 'name': 'Glenna Clark'}, {'country': 'South Korea', 'number': '2', 'name': 'Lucius Snider'}, {'country': 'South Korea', 'number': '8', 'name': 'Jamal Kelly'}, {'country': 'South Korea', 'number': '4', 'name': 'Zephr Deleon'}, {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'}, {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'}, {'country': 'Spain', 'number': '4', 'name': 'Ignatius Newman'}, {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'}, {'country': 'Sweden', 'number': '2', 'name': 'Quinn Berg'}, {'country': 'Sweden', 'number': '8', 'name': 'Kylee Good'}, {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'}, {'country': 'Ukraine', 'number': '3', 'name': 'Derek Bolton'}, {'country': 'Ukraine', 'number': '2', 'name': 'Kylan Witt'}, {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'}, {'country': 'Ukraine', 'number': '3', 'name': 'Liberty Mathis'}, {'country': 'Ukraine', 'number': '3', 'name': 'Mohammad Holder'}, {'country': 'Ukraine', 'number': '4', 'name': 'Christen James'}, {'country': 'United Kingdom', 'number': '10', 'name': 'Zenia Coffey'}, {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}, {'country': 'United Kingdom', 'number': '3', 'name': 'Gillian Harrington'}, {'country': 'United States', 'number': '3', 'name': 'Britanney Durham'}, {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'}, {'country': 'United States', 'number': '0', 'name': 'Cedric Gates'}, {'country': 'United States', 'number': '3', 'name': 'Rudyard Barrett'}, {'country': 'United States', 'number': '8', 'name': 'Castor Bowen'}, {'country': 'Vietnam', 'number': '8', 'name': 'Jonas Bryan'}, {'country': 'Vietnam', 'number': '0', 'name': 'Iliana Daniels'}, {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}]

Entries whose 'name' starts with an A or a B:
[{'country': 'United States', 'number': '3', 'name': 'Britanney Durham'}, {'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}, {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'}, {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'}, {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}, {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'}, {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'}, {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}, {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'}, {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}]

Entries whose 'number' is not divisible by 2 or 3:
[{'country': 'China', 'number': '7', 'name': 'Rachel Dickson'}, {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'}, {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'}, {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'}, {'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}, {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'}, {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'}, {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}, {'country': 'China', 'number': '5', 'name': 'Callie Cole'}, {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'}, {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'}, {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'}, {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'}, {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'}, {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'}, {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}, {'country': 'Canada', 'number': '1', 'name': 'September Bryan'}, {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'}, {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'}, {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'}, {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'}, {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}, {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'}, {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'}, {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'}, {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'}, {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'}, {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'}]

Doubled 'number' entries:
[{'country': 'Ukraine', 'number': '6', 'name': 'Derek Bolton'}, {'country': 'United States', 'number': '6', 'name': 'Britanney Durham'}, {'country': 'China', 'number': '14', 'name': 'Rachel Dickson'}, {'country': 'India', 'number': '8', 'name': 'Oren Dominguez'}, {'country': 'Norway', 'number': '10', 'name': 'Keane Dean'}, {'country': 'New Zealand', 'number': '16', 'name': 'Tarik Coleman'}, {'country': 'South Africa', 'number': '6', 'name': 'Uriel Greene'}, {'country': 'China', 'number': '12', 'name': 'Minerva Shields'}, {'country': 'Norway', 'number': '14', 'name': 'Robin Butler'}, {'country': 'Germany', 'number': '14', 'name': 'Stacey Nixon'}, {'country': 'South Africa', 'number': '8', 'name': 'Glenna Clark'}, {'country': 'Australia', 'number': '14', 'name': 'Adena Smith'}, {'country': 'Italy', 'number': '4', 'name': 'Ronan Ellis'}, {'country': 'Chile', 'number': '2', 'name': 'Ignatius Guy'}, {'country': 'Belgium', 'number': '16', 'name': 'Barclay Lindsey'}, {'country': 'Peru', 'number': '4', 'name': 'Fuller Burris'}, {'country': 'Ukraine', 'number': '4', 'name': 'Kylan Witt'}, {'country': 'United States', 'number': '2', 'name': 'Kitra Willis'}, {'country': 'Austria', 'number': '12', 'name': 'Indigo Dillard'}, {'country': 'Chile', 'number': '6', 'name': 'Benedict Powell'}, {'country': 'Russian Federation', 'number': '18', 'name': 'Duncan Ware'}, {'country': 'Peru', 'number': '14', 'name': 'Abra Lewis'}, {'country': 'China', 'number': '10', 'name': 'Callie Cole'}, {'country': 'United States', 'number': '0', 'name': 'Cedric Gates'}, {'country': 'Ukraine', 'number': '14', 'name': 'Malcolm Cox'}, {'country': 'Brazil', 'number': '12', 'name': 'Connor Potts'}, {'country': 'Sweden', 'number': '14', 'name': 'Lyle Nguyen'}, {'country': 'United States', 'number': '6', 'name': 'Rudyard Barrett'}, {'country': 'Costa Rica', 'number': '4', 'name': 'Judah Brock'}, {'country': 'South Korea', 'number': '4', 'name': 'Lucius Snider'}, {'country': 'China', 'number': '2', 'name': 'Cassady Mcdaniel'}, {'country': 'Singapore', 'number': '4', 'name': 'Allegra Baird'}, {'country': 'Philippines', 'number': '8', 'name': 'Omar Burgess'}, {'country': 'Turkey', 'number': '14', 'name': 'Kenyon Rosa'}, {'country': 'Poland', 'number': '12', 'name': 'Yen Sargent'}, {'country': 'China', 'number': '6', 'name': 'Rashad Grimes'}, {'country': 'Spain', 'number': '14', 'name': 'Tamekah Gutierrez'}, {'country': 'Ukraine', 'number': '6', 'name': 'Liberty Mathis'}, {'country': 'Mexico', 'number': '6', 'name': 'Rylee Sharpe'}, {'country': 'Mexico', 'number': '6', 'name': 'Brynn Hinton'}, {'country': 'Sweden', 'number': '4', 'name': 'Quinn Berg'}, {'country': 'Philippines', 'number': '18', 'name': 'Simone Tanner'}, {'country': 'Ireland', 'number': '4', 'name': 'Simon Giles'}, {'country': 'United Kingdom', 'number': '20', 'name': 'Zenia Coffey'}, {'country': 'Mexico', 'number': '4', 'name': 'Yael Glass'}, {'country': 'Colombia', 'number': '10', 'name': 'Inga Russell'}, {'country': 'United Kingdom', 'number': '2', 'name': 'Brendan Pearson'}, {'country': 'Austria', 'number': '6', 'name': 'Shafira Parks'}, {'country': 'India', 'number': '18', 'name': 'Dante Charles'}, {'country': 'Sweden', 'number': '16', 'name': 'Kylee Good'}, {'country': 'Canada', 'number': '2', 'name': 'September Bryan'}, {'country': 'Costa Rica', 'number': '10', 'name': 'Hakeem Flowers'}, {'country': 'Peru', 'number': '0', 'name': 'Ross Moss'}, {'country': 'Spain', 'number': '16', 'name': 'Bo Hardy'}, {'country': 'Austria', 'number': '4', 'name': 'Davis Cardenas'}, {'country': 'Ireland', 'number': '4', 'name': 'Lane Chandler'}, {'country': 'Ukraine', 'number': '6', 'name': 'Mohammad Holder'}, {'country': 'Vietnam', 'number': '16', 'name': 'Jonas Bryan'}, {'country': 'Costa Rica', 'number': '0', 'name': 'Eve Rivas'}, {'country': 'Australia', 'number': '8', 'name': 'Elton Collins'}, {'country': 'Norway', 'number': '16', 'name': 'Cain Fields'}, {'country': 'Vietnam', 'number': '0', 'name': 'Iliana Daniels'}, {'country': 'Mexico', 'number': '14', 'name': 'Rajah Robles'}, {'country': 'Australia', 'number': '6', 'name': 'Charity Conner'}, {'country': 'Chile', 'number': '10', 'name': 'Kay Parsons'}, {'country': 'Ireland', 'number': '8', 'name': 'Rachel Howell'}, {'country': 'Singapore', 'number': '6', 'name': 'Walter Forbes'}, {'country': 'Colombia', 'number': '2', 'name': 'Gray Hayden'}, {'country': 'Netherlands', 'number': '18', 'name': 'Ivana Compton'}, {'country': 'South Korea', 'number': '16', 'name': 'Jamal Kelly'}, {'country': 'Pakistan', 'number': '0', 'name': 'Robert Cunningham'}, {'country': 'Spain', 'number': '8', 'name': 'Ignatius Newman'}, {'country': 'Canada', 'number': '16', 'name': 'Gisela Glenn'}, {'country': 'Vietnam', 'number': '2', 'name': 'Eliana Nicholson'}, {'country': 'Ukraine', 'number': '8', 'name': 'Christen James'}, {'country': 'France', 'number': '8', 'name': 'Devin Spears'}, {'country': 'Costa Rica', 'number': '6', 'name': 'Phelan Hodges'}, {'country': 'Chile', 'number': '8', 'name': 'Stewart Coffey'}, {'country': 'Singapore', 'number': '12', 'name': 'Kasper Justice'}, {'country': 'Italy', 'number': '14', 'name': 'Xanthus Wilkerson'}, {'country': 'Italy', 'number': '12', 'name': 'Debra Melendez'}, {'country': 'Germany', 'number': '12', 'name': 'Galvin Morrison'}, {'country': 'Norway', 'number': '20', 'name': 'Britanney Daniels'}, {'country': 'Italy', 'number': '16', 'name': 'Steel Cantu'}, {'country': 'Mexico', 'number': '14', 'name': 'Graham Ewing'}, {'country': 'China', 'number': '6', 'name': 'Maia Dunn'}, {'country': 'Australia', 'number': '6', 'name': 'Violet Thornton'}, {'country': 'Canada', 'number': '10', 'name': 'Cleo Cardenas'}, {'country': 'United States', 'number': '16', 'name': 'Castor Bowen'}, {'country': 'Australia', 'number': '16', 'name': 'Wyatt Carey'}, {'country': 'Philippines', 'number': '10', 'name': 'Paul Padilla'}, {'country': 'Costa Rica', 'number': '16', 'name': 'Germane Welch'}, {'country': 'South Korea', 'number': '8', 'name': 'Zephr Deleon'}, {'country': 'Russian Federation', 'number': '18', 'name': 'Lionel Armstrong'}, {'country': 'Brazil', 'number': '12', 'name': 'Eleanor Solomon'}, {'country': 'Nigeria', 'number': '14', 'name': 'Rachel Woods'}, {'country': 'Indonesia', 'number': '18', 'name': 'Philip Taylor'}, {'country': 'Brazil', 'number': '14', 'name': 'Lilah Shelton'}, {'country': 'United Kingdom', 'number': '6', 'name': 'Gillian Harrington'}, {'country': 'Mexico', 'number': '6', 'name': 'Odessa Sutton'}]

# Recursive functions
### For any recursive function you write in this section, make clear (with comments) what your base cases and your recursive cases are.
Remember the example of the factorial function from the lecture. I will reproduce the Python code here:

In [11]:
def factorial(x):
    if x == 0: # base case
        return 1
    else: # recursive case
        return (x * factorial(x-1))


num = 6
print("The factorial of", num, "is", factorial(num))

The factorial of 6 is 720

The other example in the lecture was concerned with Fibonacci numbers.
### Exercise 1
#### a
Implement this Fibonacci function **recursively** in Python:

In [14]:
def fibonacci(n):
    if n <= 0:
        return "Invalid input. Please provide a non-negative integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage:
n = 7
result = fibonacci(n)
print("The {n}-th Fibonacci number is: {result}")
print(f"The {n}-th Fibonacci number is: {result}")

The {n}-th Fibonacci number is: {result}
The 7-th Fibonacci number is: 8

#### b
Test your function on some higher numbers. What do you notice? What do you think is causing this?

In [15]:
def fibonacci(n):
    if n <= 0:
        return "Invalid input. Please provide a non-negative integer."
    elif n == 1:
        return 0
    elif n == 2:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

# Example usage:
n = 5978
result = fibonacci(n)
print("The {n}-th Fibonacci number is: {result}")

RecursionError: maximum recursion depth exceeded in comparison

In [ ]:
#Maybe these overlapping subproblems are recalculated multiple times, leading to redundant work.
#For large values of "n," the recursive approach becomes impractical due to its high time complexity, 
#resulting in long computation times and potentially causing a stack overflow due to the deep recursion stack.

### Exercise 2
Write a recursive function that takes a list of integers as input and returns the maximum integer stored in the list. Thinking recursively, the maximum is either the first value in the list or the maximum of the rest of the list, whichever is larger. If the list only has 1 integer, then its maximum is this single value, naturally.

In [19]:
def find_max(list1):
    # Base case: If the list has only one element, return that element
    if len(list1) == 1:
        return list1[0]
    
    # Recursive case: Find the maximum of the rest of the list
    rest_max = find_max(list1[1:])
    
    # Compare the first element with the maximum of the rest of the list
    return list1[0] if list1[0] > rest_max else rest_max

# Example usage:
numbers = [4, 2, 8, 5, 1, 9, 3]
max_value = find_max(numbers)
print(f"The maximum value in the list is: {max_value}")

The maximum value in the list is: 9

### Exercise 3
Write a recursive function **letterCount** that takes a string and a character as input, and returns how many times the character occurs in the string. For example, it should have the following outputs:
* **letterCount**("Julian", 'i') = 1
* **letterCount**("Ceel", 'e') = 2
* **letterCount**("Joris", 'a') = 0

In [20]:
def letterCount(s, char):
    # Base case: if the string is empty, return 0
    if not s:
        return 0

    # Recursive case:
    # Check if the first character of the string is equal to the target character
    # If yes, add 1, otherwise, add 0
    count = 1 if s[0] == char else 0

    # Recursively call the function on the rest of the string (excluding the first character)
    count += letterCount(s[1:], char)

    return count

# Test cases
print(letterCount("Julian", 'i'))  # Output: 1
print(letterCount("Ceel", 'e'))    # Output: 2
print(letterCount("Joris", 'a'))   # Output: 0

1
2
0

In [1]:
import random

# 原始输入
original_input = '11101'

# 随机选择新的二进制数字
new_input = ''.join(random.choice(['0', '1']) for _ in range(len(original_input)))

# 输出新的输入
print(f'Original Input: {original_input}')
print(f'New Input: {new_input}')

# 更新 YAML 代码
yaml_code = f"""name: binary increment
source code: |
  # Adds 1 to a binary number.
  input: '{new_input}'
  blank: ' '
  start state: right
  table:
    right:
      1: R
      0: R
      ' ': {{L: carry}}
    carry:
      1: {{write: 0, L:}}
      0: {{write: 1, L: move_left}}
      ' ': {{write: 1, L: move_left}}
    move_left:
      1: L
      0: L
      ' ': {{R: done}}
    done:

  # Exercises:

  # • Modify the machine to always halt on the leftmost digit
  #   (regardless of the number's length).
  #   Hint: add a state between carry and done.

  # • Make a machine that adds 2 instead of 1.
  #   Hint: 2 is '10' in binary, so the last digit is unaffected.
  #   Alternative hint: chain together two copies of the machine from
  #   the first exercise (renaming the states of the second copy).

  # • Make a machine to subtract 1.
  #   To simplify things, assume the input is always greater than 0.
positions:
  right: {{x: 225.06, y: 251.65}}
  carry: {{x: 358.41, y: 307.28, fixed: false}}
  move_left: {{x: 435.8, y: 188.25, fixed: false}}
  done: {{x: 570, y: 250}}
"""

# 输出更新后的 YAML 代码
print(yaml_code)

Original Input: 11101
New Input: 01100
name: binary increment
source code: |
  # Adds 1 to a binary number.
  input: '01100'
  blank: ' '
  start state: right
  table:
    right:
      1: R
      0: R
      ' ': {L: carry}
    carry:
      1: {write: 0, L:}
      0: {write: 1, L: move_left}
      ' ': {write: 1, L: move_left}
    move_left:
      1: L
      0: L
      ' ': {R: done}
    done:

  # Exercises:

  # • Modify the machine to always halt on the leftmost digit
  #   (regardless of the number's length).
  #   Hint: add a state between carry and done.

  # • Make a machine that adds 2 instead of 1.
  #   Hint: 2 is '10' in binary, so the last digit is unaffected.
  #   Alternative hint: chain together two copies of the machine from
  #   the first exercise (renaming the states of the second copy).

  # • Make a machine to subtract 1.
  #   To simplify things, assume the input is always greater than 0.
positions:
  right: {x: 225.06, y: 251.65}
  carry: {x: 358.41, y: 307.28, fixed: false}
  move_left: {x: 435.8, y: 188.25, fixed: false}
  done: {x: 570, y: 250}

# Turing Machines
### The exercises for this section are made outside of this notebook. To hand in, either add a separate file with the code to your personal GitHub map, or copy-paste it into the box at the bottom of the notebook. Make sure to clearly label which code belongs to which exercise!
Go to turingmachine.io and open the 'binary increment' example at the top. Play around with it and try to understand what is happening.

### Exercise 1
Make the exercises for the binary increment that are printed below the code on the web page. I will reproduce them here for your convenience:

exercises

	# • Modify the machine to always halt on the leftmost digit
	#   (regardless of the number's length).
	#   Hint: add a state between carry and done.

	# • Make a machine that adds 2 instead of 1.
	#   Hint: 2 is '10' in binary, so the last digit is unaffected.
	#   Alternative hint: chain together two copies of the machine from
	#   the first exercise (renaming the states of the second copy).

	# • Make a machine to subtract 1.
	#   To simplify things, assume the input is always greater than 0.

### Exercise 2
Choose an example at the top (different from 'binary increment') that has complementery exercises and do those.

#I'm sorry, ceel, I'm a little confused about this part, maybe you can explain it in the next class?


# • Modify the machine to always halt on the leftmost digit
#   (regardless of the number's length).
#   Hint: add a state between carry and done.

# Adds 1 to a binary number.
# Subtracts 1 from a binary number.
input: '1000011111'
blank: ' '
start state: right
table:
      right:
        [1,0]: R
        ' '  : {L: carry}
      carry:
        1: {write: 0, L: move_left}
        0: {write: 1, L: move_left}
      move_left:
        [1,0]: L
        ' ': {R: done}
      done:




# • Make a machine that adds 2 instead of 1.
#   Hint: 2 is '10' in binary, so the last digit is unaffected.
#   Alternative hint: chain together two copies of the machine from
#   the first exercise (renaming the states of the second copy).

# Adds 2 to a binary number.
input: '101111'
blank: ' '
start state: right
table:
  right:
    [1,0,2]: R
    ' '  : {L: carry}
  carry:
    1: {write: 2, L: left}
    0: {write: 1, L: left}
    2: {write: 0, L}
    ' ': {write: 1, L: left}
  left:
    [1,0,2]: L
    ' ': {R: done}
  done:






# • Make a machine to subtract 1.
#   To simplify things, assume the input is always greater than 0.

# Subtracts 1 from a binary number.
input: '101111'
blank: ' '
start state: right
table:
    right:
      [1,0,2]: R
      ' '  : {L: carry}
    carry:
      1: {write: 0, L: left}
      0: {write: 1, L}
      ' ': {write: 1, L: left}
    left:
      [1,0]: L
      ' ': {R: done}
    done: